In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('notebooks/interaction_metric_two_canyons.csv')

In [5]:
df

      # x      y   x_error   y_error
0   1.694  0.346     0.069     0.107
1   1.182  0.688     0.011     0.260
2   1.399  0.348     0.019     0.077
3   1.636  0.399     0.121     0.117
4   1.680  0.255     0.011     0.087
5   1.241  0.381     0.067     0.111
6   1.081  0.737     0.037     0.346
7   1.322  0.365     0.088     0.053
8   1.797  0.266     0.120     0.132
9   1.601  0.269     0.000     0.066
10  1.343  0.418     0.000     0.085
11  1.344  0.402     0.000     0.083
12  0.988  0.669     0.000     0.126